$ss-blue: #2C56A2;
$ss-blue2: #2C55A2;
$ss-lightblue: #375EA7;
$ss-darkblue: #193E70;
$ss-green: #95C11F;
$ss-green2: #6E9600;
$ss-yellow: #FFA600;
$light-gray: #eee;
$medium-gray: #aaa;
$dark-gray: #888;
$white: #fff;

$kip-medium-gray: #525f7f;
$kip-medium-blue: #2581c4;